@import url(reset.css);
/* Contents
1. vars etc...
2. base
3. layout

3. thumbnails
4. form controls (effects)
*/
@font-face {
  font-family: 'Titillium';
  src: url("TitilliumWeb-Light.ttf"); }

/* 2. base */
body {
  background-color: #f9fafb;
  font-family: "Titillium", Arial, sans-serif;
  font-size: 100%;
  color: #595959;
  text-shadow: 1px 1px 2px #fff; }

/*display layout via grid*/
#vjotg {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "head" "video" "select" "fx";
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0px auto; }
  #vjotg > header {
    grid-area: head;
    box-sizing: border-box;
    align-self: center;
    width: 100vw;
    padding: 2vmin; }
  #vjotg #screen {
    grid-area: video;
    margin-bottom: 2vmin; }

.media__select {
  grid-area: select; }
  .media__select ul {
    display: flex;
    justify-content: space-around; }
  .media__select .thumb {
    width: 20vmin;
    max-width: 120px;
    height: 20vmin;
    max-height: 120px;
    overflow: hidden; }
    .media__select .thumb img {
      display: block;
      object-fit: cover;
      height: 130px;
      width: auto; }

.media__fx {
  grid-area: fx;
  overflow-y: scroll;
  display: none; }

.media__fx[data-fxfor="master"] {
  display: block; }

midi-toggle, midi-pad {
  width: 49%;
  display: inline-block; }

#screen {
  background-color: #595959;
  border: 2px solid #595959; }
  #screen canvas {
    margin: 0px auto;
    display: block; }

.media__select .thumb {
  border-radius: 2px; }

.media__select .thumb__master {
  display: flex;
  background-color: #2bc4f3;
  background-image: linear-gradient(45deg, #b76bfa, #2bc4f3, #1ef68a); }
  .media__select .thumb__master span {
    align-self: center;
    display: inline-block;
    margin: 0px auto;
    font-size: 3em;
    color: #f9fafb; }

.media__select .thumb--active {
  border-bottom: 2px solid #1ef68a; }
