@import 'reset.css';

// there's a portrait view and a landscape view. Portrait goes up to 600px, which then gives us enough room to put video and fx panel side by side - this is the only media query. Max width is set at 900 as this looks good for the layout. Default styling is for portrait, media queries change for landscape.

/* Contents
1. vars etc...
2. base
3. layout

3. thumbnails
4. form controls (effects)
*/

// 1. vars
@font-face {
  font-family: 'Titillium';
  src: url('TitilliumWeb-Light.ttf');
}
$font: 'Titillium', Arial, sans-serif;
$purple:hsla(272, 94%, 70%, 1.0);
$blue:hsla(194, 89%, 56%, 1.0);
$green:hsla(150, 92%, 54%, 1.0);
$offWhite:hsla(210, 25%, 98%, 1.0);
$black:hsla(0, 0%, 35%, 1.0);

$spacing: 2vmin;

@mixin gradient($degVal) {
  background-image: linear-gradient(#{$degVal}deg, $purple, $blue, $green);
}

/* 2. base */

body {
  background-color: $offWhite;
  font-family: $font;
  font-size: 100%;
  color: $black; text-shadow: 1px 1px 2px #fff;
}

/*display layout via grid*/
#vjotg {
  display:grid; box-sizing: border-box;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "head" "video" "select" "fx";
  width:100vw;
  height:100vh; max-height:100vh;
  margin:0px auto;

  & > header {
    grid-area: head; box-sizing: border-box;
    align-self: center;
    width:100vw;
    padding: $spacing;
  }

  #screen {
    grid-area: video;
    margin-bottom: $spacing;
  }
}

.media__select {
  grid-area: select;
  ul {
    display: flex; justify-content: space-around;
  }
  .thumb {
    width:20vmin; max-width:120px;
    height:20vmin; max-height:120px;
    overflow: hidden;
    img {
      display: block;
      object-fit: cover;
      height:130px; width:auto;
    }
  }
}

.media__fx {
  grid-area: fx;
  overflow-y: scroll;
  display: none;
}
.media__fx[data-fxfor="master"] {display:block;}

midi-toggle, midi-pad {
  width: 49%;
  display: inline-block;
}


// styles
#screen {
  background-color: $black;
  border:2px solid $black;
  & canvas {margin:0px auto; display:block;}
}

// media nav
.media__select {
  .thumb {border-radius: 2px;}

  .thumb__master {
    display: flex;
    background-color: $blue;
    @include gradient(45);
    span {
      align-self: center;
      display: inline-block;
      margin: 0px auto;
      font-size: 3em; color:$offWhite;
      
    }
  }

  .thumb--active {
    border-bottom:2px solid $green;
  }
}

// .screen {background-color:black; border: 1px solid #555;}
// .screen-preview {grid-area:'video';}

// .card-switcher {grid-area:'card';}
// .card {display: none;}
// .card--show {display: block;}


// .card__nav {
//   grid-area: 'nav';
//   display: flex; align-content: stretch;
// }
// .card__nav .btn__icon {
//   flex-grow:1;
// }
// .card__nav .btn__icon--active {
//   flex-grow:1;
//   border:2px solid fuchsia;
// }

// /*thumbnail list*/
// .sel-list ul {
//   display: grid;
//   /*grid-auto-flow: column;*/
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: auto;
//   grid-gap:1vh;
// }

// .sel-list__thumb {
//   height:20vh;
//   position: relative;
//   border:2px solid grey;
//   overflow: hidden;
// }
// .sel-list__thumb img {
//   height: 20vh;
//   object-fit: none;
//   filter: brightness(3) opacity(0.5);
// }

// /*large thumbnail list*/
// .sel-list--large ul {
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap:2vh;
// }
// .sel-list--large .sel-list__thumb {
//   height: 29vh;
// }
// .sel-list--large .sel-list__thumb img {
//   height: 29vh;
// }

// legacy stuff

// #loading-screen {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display:flex;
//   align-items: center;
//   justify-items: center;
//   justify-content: center;
//   background: rgba(0,0,0,0.25);
// }

// #loading-screen h1 {
//   display: inline-block;
//   text-align: center;
// }
