/* Contents
0. vars
1. reset - because yeh bite me
2. base
3. thumbnails
4. form controls (effects)
*/

// 0 vars
@font-face {
  font-family: 'Titillium';
  src: url('TitilliumWeb-Light.ttf');
}
$font: 'Titillium', Arial, sans-serif;
$purple:hsla(272, 94%, 70%, 1.0);
$blue:hsla(194, 89%, 56%, 1.0);
$green:hsla(150, 92%, 54%, 1.0);
$offWhite:hsla(210, 25%, 98%, 1.0);
$black:hsla(0, 0%, 35%, 1.0);

@mixin gradient($degVal) {
  background-image: linear-gradient(#{$degVal}deg, $purple, $blue, $green);
}

h1 {
  color: fuchsia;
}


#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.25);
}

#loading-screen h1 {
  display: inline-block;
  text-align: center;
}

#canvas {
  width: 640px; height: 480px;
}

/*1.*/
html, body,
div, section, canvas,
h1, ul, li,
form, label, input, button {
  margin:0px; padding:0px; border:none; outline:0;
  font-size:100%; vertical-align:baseline;
  box-sizing: border-box;
  
}
body {
  background-color: #fdfdfd;
  font-family: sans-serif;
  font-size: 100%; /*font-size 1.1em*/
  color:#555; text-shadow:0px 0px 1px #fff;
}
ul, li {list-style:none;}

/*generic style classes*/
.icon {
  /*put an icon here*/
}

/*display layout via grid*/
#vjotg {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 32vh 60vh 8vh;
  grid-template-areas: "video" "card" "nav";

  max-width:500px; height:100vh;
  margin:0px auto;
}

.screen {background-color:black; border: 1px solid #555;}
.screen-preview {grid-area:'video';}

.card-switcher {grid-area:'card';}
.card {display: none;}
.card--show {display: block;}


.card__nav {
  grid-area: 'nav';
  display: flex; align-content: stretch;
}
.card__nav .btn__icon {
  flex-grow:1;
}
.card__nav .btn__icon--active {
  flex-grow:1;
  border:2px solid fuchsia;
}

/*thumbnail list*/
.sel-list ul {
  display: grid;
  /*grid-auto-flow: column;*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap:1vh;
}

.sel-list__thumb {
  height:20vh;
  position: relative;
  border:2px solid grey;
  overflow: hidden;
}
.sel-list__thumb img {
  height: 20vh;
  object-fit: none;
  filter: brightness(3) opacity(0.5);
}

/*large thumbnail list*/
.sel-list--large ul {
  grid-template-columns: repeat(2, 1fr);
  grid-gap:2vh;
}
.sel-list--large .sel-list__thumb {
  height: 29vh;
}
.sel-list--large .sel-list__thumb img {
  height: 29vh;
}

